<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container-fluid">
      <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="container">
        <h1>Forms</h1>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Forms</a></li>

          <li role="presentation"><a href="#/fields">Fields</a></li>
        </ul>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                  <span class="glyphicon glyphicon-triangle-bottom"></span>
                Form Name</th>
              <th>
                  <span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
            </tr>
            
          </thead>
            <tbody >
                <tr >
                      <td><input ng-model="form.title" id="title" class="form-control" type="text" name="title" placeholder="name"/></td>
                      <td><button ng-click="addForm()"  class="btn btn-default active btn-block">
                        
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                          <button ng-click="updateForm()" class="btn btn-default active btn-block">
                        
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                </tr>
                <tr ng-repeat="form in forms">
                    <td>
                        <a href="#/user/:userId/form/:formId/fields" ng-click="saveFormId(form)">
                            {{form.title}}
                        </a>
                    </td>
                    <td>
                        <a ng-click="deleteForm($index)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a ng-click="selectForm($index)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                
            </tbody>
        </table>
       </div>

            
          </div>
        </div>
    </div>
    
    </body>
</html>

