<div ng-controller="FieldController">
    <h2>Forms: Registration Form</h2>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/form">Forms</a></li>
        <li role="presentation" class="active"><a href="#">Fields</a></li>
    </ul>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Label</th>
                    <th>Input</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="field in fields">
                    <td>
                        <label>{{field.type}}</label>
                    </td>
                    <td>
                        <label>{{field.label}}</label>
                    </td>
                    <td ng-switch on="field.type">
                        <div ng-switch-when="TEXT">
                            <input type="text" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="TEXTAREA">
                            <input type="text" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="DATE">
                            <input class="form-control" type="date" id="{{field.label}}" style="text-align: center"/>
                        </div>
                        <div ng-switch-when="OPTIONS">
                            <select class="form-control" type="text" id="{{field.label}}">
                                <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="CHECKBOXES">
                            <div ng-repeat="option in field.options" class="checkbox" id="{{field.label}}">
                                <label>
                                    <input type="{{field.type}}">{{option.label}}
                                </label>
                            </div>
                        </div>
                        <div ng-switch-when="RADIOS">
                            <div ng-repeat="option in field.options" class="radio" id="{{field.label}}">
                                <label><input id="{{option.label}}" type="radio" name="{{option.value}}"/>{{option.label}}</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                        <a ng-click="removeField($index, field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-align-justify"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="addNewField">Add New Field:</label>
                <div class="row">
                    <div class="col-sm-9">
                        <select id="addNewField" class="form-control" type="text" name="field" ng-model="fieldType">
                            <option value="SINGLELINE">Single Line Text</option>
                            <option value="MULTILINE">Multi Line Text</option>
                            <option value="DATE">Date</option>
                            <option value="DROPDOWN">Dropdown</option>
                            <option value="CHECKBOX">Checkboxes</option>
                            <option value="RADIO">Radio Buttons</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <a ng-click="addField(fieldType)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>