<html>
    <head>
    
    </head>
    
    <body>
        <h1>Sneaker Release Date</h1>
        <div class="exp-calendar-card">
	<li ng-class="{'active' : $location.url().indexOf('mercurialCr7Se324kGold') != -1}"><a href="#/mercurialCr7Se324kGold">MERCURIAL CR7 SE 324K GOLD</a></li>
    <div class="exp-calendar-card-badge">
        <div class="exp-calendar-card-month edf-title-font-size--small nsg-font-family--platform nsg-text--medium-light-grey">Jan</div>
        <div class="exp-calendar-card-day edf-title-font-size--xxxlarge nsg-font-family--platform nsg-text--nike-orange">01</div>
    </div>
		<img src="http://content.nike.com//content/dam/one-nike/en_lu/HO15/Launch/0111_cr7thumb.jpg.dimg.transform/calendar-card/image.jpg">
	<div class="exp-calendar-card-info">
      <div class="exp-calendar-card-title edf-title-font-size--xlarge nsg-font-family--platform nsg-text--dark-grey">MERCURIAL CR7 SE 324K GOLD</div>
      <div class="exp-calendar-card-price edf-title-font-size--xlarge nsg-font-family--platform nsg-text--medium-grey"></div>
      <div class="exp-calendar-card-desc edf-font-size--regular nsg-text--medium-grey">White/Black Metallic/Vivid Gold</div>
    </div>

    
    <div class="hidden">000000-000</div>
	</a> 
</div>

</html>
