<!DOCTYPE html>
<html lang="en" ng-app="IdealApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid">
      <div class="row">
        <h1 class="page-header">Go Premier</h1>
        <p> Get real time notification for sneaker restock from nike.com, footlocker, footaction, champs, eastbay, adidas and so on!
        </p>
          <h1>
          <a href="https://www.paypal.me/ZhiboLiu/19.99">GO PREMIER NOW!</a>
          </h1>
        </div>
      </div>
    </div>
</body>
</html>
