<!DOCTYPE html>
<html lang="en" ng-app="IdealApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid">
      <div class="row">
        <h1 class="page-header">Air Jordan 13 CP3 </h1>
        <p> This Chris Paul version of the Air Jordan 13 celebrates his 10th anniversary in the NBA. The shoe is dressed in a Black, Sunstone, and Orion Blue color scheme to match CP3’s old New Orleans Hornets colors – the team that originally drafted him. Featuring a Black leather and mesh with 3M reflective detailing, along with Blue suede overlays. Other details include Yellow hits on the ‘CP’ branded tongue, as well as hitting the outsole.
        </p>
          
          <p>
                Air Jordan 13 “CP3″
          </p>
          <p>
              Black/Sunstone-Orion Blue
          </p>
          <p>
              823902-015
          </p>
          <p>
              November 7, 2015
          </p>
          <p>
              $200
          </p>
        </div>
      </div>
    </div>
</body>
</html>
