<html lang="en" ng-app="IdealApp">
<body>
<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Welcome !</h1>
        <p>Ideal is a source to keep sneakerheads updated daily with news and information about upcoming sneakers. Ideal was created to give people a reliable source with credible information on sneaker release dates, culture, upcoming sneakers, reviews, and any breaking news around our state. Our sole mission is to provide our readers with the best possible content without bias toward any single brand. Sneakers are a way of life and we want to bring that to you.
        </p>
        <h1><a href="https://docs.google.com/document/d/1Ka5qy94kquWNWxW_t23CpF110NcM30a0aOTvHnaIMfc/edit?usp=sharing">Ideal Project Documentation</a></h1>
    </div>
    <div class="row">
        <h1 class="page-header">Air Jordan 13 CP3 </h1>
        <p><img src="http://content.nike.com//content/dam/one-nike/en_us/season-2015-ho/SHOP/Launch/air-jordan-13-retro-cp3/Air-Jordan-13-Retro-CP-Thumb.jpg.dimg.transform/calendar-card/image.jpg">
            <li ng-class="{'active' : $location.url().indexOf('air-jordan-13-cp3') != -1}"><a href="#/air-jordan-13-cp3">Air Jordan 13 CP3 Details</a></li>
        </p>
    </div>
    <div class="row">
        <h1 class="page-header">MERCURIAL CR7 SE 324K GOLD </h1>
        <p><img src="http://content.nike.com//content/dam/one-nike/en_lu/HO15/Launch/0111_cr7thumb.jpg.dimg.transform/calendar-card/image.jpg">
            <li ng-class="{'active' : $location.url().indexOf('mercurialCr7Se324kGold') != -1}"><a href="#/mercurialCr7Se324kGold">MERCURIAL CR7 SE 324K GOLD</a></li>
        </p>
    </div>
</div>
</body>
</html>

