<!DOCTYPE html>
<html lang="en" ng-app="IdealApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid">
      <div class="row">
        <h1 class="page-header">Search</h1>
          <h1>We support following key words for now: air, nike</h1>

        <h3>Why do people buy shoes now?
        </h3>
          <h3>Resell!</h3>
          <h3>What shoes will make profits for you?</h3>
          <h3>Of Course! Nike and Air Jordan!</h3>

          
        </div>
      </div>
    </div>
</body>
</html>
