<!DOCTYPE html>
<html lang="en" ng-app="IdealApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid">
      <div class="row">
        <h1 class="page-header">Ideal Comment</h1>
        <p> You will fully acknowledge what this pair of shoes mean.
        </p>
          <h1>Air Jordan 1</h1>
          <p>
              Ideal is a source to keep sneakerheads updated daily with news and information about upcoming sneakers. Ideal was created to give people a reliable source with credible information on sneaker release dates, culture, upcoming sneakers, reviews, and any breaking news around our state. Our sole mission is to provide our readers with the best possible content without bias toward any single brand. Sneakers are a way of life and we want to bring that to you
          </p>
        </div>
      </div>
    </div>
</body>
</html>
